.bgDark {
  background-color: #ffffff;
}

.bgLight {
  background-color: #231f20;
}

.theme-icon {
  border: none;
}

.icon {
  color: #ffffff;
}

.icon-dark {
  color: #181818;
}

.icon-light {
  color: #ffffff;
}
